<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
    <title>main</title>
    <link
      rel="stylesheet"
      href="/css/main/main.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="header" style="display: flex; flex-direction: row">
        <div class="logo"> <img style="width: 350px;" src="/img/movies_logo.png" alt="로고"></div>
        <div class="loginjoin" >
            <span>로그인</span>
            <span style="margin-left: 20px;">회원가입</span>
        </div>
        
      </div>
      <div>d</div>
      <div>
        <nav class="navbar">
          <ul class="nav-links">
            <li>홈</li>
            <li>랭킹</li>
            <li>영화</li>
            <li>추천</li>
          </ul>
        </nav>
      </div>
      <div>d</div>
      <div class="content_video">
        <div class="video"><span>예고편영상</span></div>
      </div>
      <div class="content_movie">
        <span>영화순위</span>
        <ul class="movieRankList" >
          <li class="movieRank" th:each="dto : ${dto.movieRankAndTitleList}"  >
            <span th:text="${dto.rank}"></span>
            <span th:text="${dto.movieName}"></span>
            
            
           
          </li>

        </ul>


      </div>
    </div>


    <footer>
        <p>&copy; 2023 My Web Page. All rights reserved.</p>
    </footer>
  </body>
</html>
