<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         body{
            background-color: black;
        }
        h1{
            color: #94A9F4;
        }
        *{
            padding: 0;
            margin: 0;
        }
        div{
            border: solid 1px white;
        }
        span{
            color: white;
        }
    </style>
    <title>main</title>
    <div>
        <h1>Movies</h1>
    </div>
</head>
<body>
    
</body>
</html>