body {
  background-color: black;
  margin: 0; /* 기본 마진 초기화 */
  padding: 0; /* 기본 패딩 초기화 */
  margin-left: 200px; /* 왼쪽 여백 */
  margin-right: 200px; /* 오른쪽 여백 */
  margin-top: 50px;
}
h1 {
  color: #94a9f4;
}
* {
  padding: 0;
  margin: 0;
}
div {
  border: solid 1px white;
}
span {
  color: white;
}

.header {
  justify-content: space-between;
}
.navbar {
  background-color: #426cd7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 300px;
  margin: 0;
  padding: 0;
}
.nav-links li {
  position: relative;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.loginjoin {
  display: flex;
  align-items: flex-end;
  padding-bottom: 25px;
}

/* .movieRankListSlider{
  list-style: none;
        display: flex; 
} */


a {
  color: inherit; /* 기본 색상 상속 */
  text-decoration: none; /* 밑줄 제거 */
}

.movieSlider {
  list-style: none;
  display: flex;
  /* overflow: hidden; */
  width: 100%; /* Set container width to 100% */
  transition: transform 0.5s ease-in-out;
}

.movieSlide {
  flex: 0 0 20%; /* Each slide takes 20% of the container's width */
  margin-right: 10px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  /* Hide any content that goes beyond the container */
  overflow: hidden; 
  position: relative;
  width: 100%; /* Set the container width */
  margin: 0 auto; /* Center the container horizontally */
}

.prevButton, .nextButton {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.movieImage {
  max-width: 100%; /* Ensure the image does not exceed its container's width */
  height: auto; /* Maintain aspect ratio */
}